*
{
    margin: 0;
    padding: 0;
}

body
{
    background: #6c6c6c;
}

nav
{
    background: #696969;
    box-shadow: 0 0 4px 4px #636363;
    font-size: 0;
    height: 96px;
    margin-top: -64px;
    padding: 16px 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

nav a
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 96px;
    margin: 0 16px;
    width: 96px;
}

nav a.npolar
{
    background-image: url('../gfx/npolar-dark.png');
}

nav a.npolar:hover
{
    background-image: url('../gfx/npolar-light.png');
}

nav a.github
{
    background-image: url('../gfx/github-dark.png');
}

nav a.github:hover
{
    background-image: url('../gfx/github-light.png');
}

#tagline
{
    bottom: 2px;
    color: #3c3c3c;
    font-family: monospace;
    font-size: 10px;
    position: absolute;
    right: 5px;
}

#tagline a
{
    color: inherit;
    text-decoration: none;
}

#tagline a:hover
{
    text-decoration: underline;
}

#tagline span
{
    color: #9c3c3c;
}
